<!-- by dribehance <dribehance.kksdapp.com> -->
<div ui-content-for="title">活动介绍</div>
<div ui-content-for="navbarAction"></div>
<div ui-content-for="backAction">
	<span class="btn" ng-click="back()">返回</span>
</div>
<div class="scrollable">
	<div class="scrollable-content">
		<div class="section">
			活动介绍Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum quaerat recusandae necessitatibus nesciunt, officiis voluptatibus saepe nihil ut temporibus! Quam expedita accusamus vitae deleniti rem obcaecati eligendi quo atque magni?
		</div>
	</div>
	<div class="scrollable-footer">
		<div class="section bg-grey">
			<a ng-href="#/votes/1" class="block full-width text-white text-center">去投票</a>
		</div>
	</div>
</div>