<!-- by dribehance <dribehance.kksdapp.com> -->
<div ui-content-for="title">活动介绍</div>
<div ui-content-for="navbarAction"></div>
<div ui-content-for="backAction">
    <span class="btn" ng-click="back()">返回</span>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <div class="section">
            <div ng-bind-html="trustAsHtml(activity.details)"></div>
        </div>
    </div>
    <div class="scrollable-footer">
        <div class="bg-grey">
            <div class="btn-group justified text-white">
                <a ng-href="#/{{token}}/votes/{{activity.activity_id}}" class="btn text-white text-center" ng-if="can_vote">去投票</a>
                <a ng-href="#/{{token}}/vote_result/{{activity.activity_id}}" class="btn text-white text-center">查看看投票结果</a>
            </div>
        </div>
    </div>
</div>
