<!-- by dribehance <dribehance.kksdapp.com> -->
<div ui-content-for="title"></div>
<div ui-content-for="navbarAction"></div>
<div ui-content-for="backAction">
    <span class="btn"></span>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <div class="text-center" style="font-size:100px;">I'M TMAI</div>
        <div class="section bg-light-grey">
            <h3>URL PATTER</h3>
            <div>
                产品详情：/products/:product_id <a ng-href="#/{{token}}/products/15">Try It</a>
            </div>
            <p></p>
            <h4>我的卡包</h4>
            <div>
                红包列表：/wallet <a ng-href="#/{{token}}/wallet">Try It</a>
            </div>
            <div>
                优惠券列表：/quan <a ng-href="#/{{token}}/quan">Try It</a>
            </div>
            <div>
                选择优惠券：/choose_quan/:product_id <a ng-href="#/{{token}}/choose_quan/1">Try It</a>
            </div>
            <p></p>
            <div>
                活动详情：/activities/:activity_id <a ng-href="#/{{token}}/activities/1">Try It</a>
            </div>
            <div>
                关于我们：/about/:company_id <a ng-href="#/{{token}}/about/1">Try It</a>
            </div>
            <div>
                交易记录：/record <a ng-href="#/{{token}}/record">Try It</a>
            </div>
            <div>
                我的佣金：/money <a ng-href="#/{{token}}/money">Try It</a>
            </div>
        </div>
    </div>
</div>
