<!-- by dribehance <dribehance.kksdapp.com> -->
<div ui-content-for="title">淘卖</div>
<div ui-content-for="navbarAction"></div>
<div ui-content-for="backAction">
    <span class="btn"></span>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <div class="btn-group justified">
            <a ng-href="#/product" class="btn btn-primary">商品详情</a>
            <a ng-href="#/wallet" class="btn btn-primary">我的卡包</a>
            <a ng-href="#/money" class="btn btn-primary">我的佣金</a>
            <a ng-href="#/record" class="btn btn-primary">交易记录</a>
            <a ng-href="#/invite" class="btn btn-primary">我的邀请码</a>
        </div>
        <div class="btn-group justified">
            <a ng-href="#/about" class="btn btn-primary">关于我们</a>
        </div>
    </div>
</div>
