<!-- by dribehance <dribehance.kksdapp.com> -->
<div ui-content-for="title">我的邀请码</div>
<div ui-content-for="navbarAction"></div>
<div ui-content-for="backAction">
    <span class="btn" ng-click="back()">返回</span>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <div class="section bg-red text-center text-large text-white" style="margin:80px 30px">
            azkf9890z
        </div>
        <div class="text-center">
            邀请好友注册
        </div>
        <div class="text-center">
            朋友和你都可以获得红包和优惠券哦！
        </div>
        <div class="section text-center bg-light-grey" style="margin-top:100px">
            <img ng-src="../images/logo.png" alt="">
        </div>
    </div>
</div>
