<!-- by dribehance <dribehance.kksdapp.com> -->
<div class="scrollable">
	<div class="scrollable-header">
		<div class="navbar navbar-app bg-red text-white" style="margin:0;border:none">
            <div class="navbar-brand navbar-brand-center">
            	我的佣金
            </div>
            <div class="btn-group pull-left">
            	<span class="btn text-white" ng-click="back()">
            		返回
            	</span>
            </div>
        </div>
	</div>
	<div class="scrollable-content">
		<img ng-src="../images/bonus.png" class="block full-width" alt="">
		<div class="section bg-light-grey text-center">
			<div>累计佣金</div>
			<span style="font-size:60px">28.88</span><span>元</span>
			<div>已经存入余额，可用于购买</div>
		</div>
		<div class="section bg-light-grey text-center">
            ---- 已领取 ----
        </div>
        <div>
            <div class="section">
                <div class="semi-auto semi-left-50">
                    <div class="semi-fixed-left">
                        <img src="../images/money_1.png" style="width:40px" alt="">
                    </div>
                    <div style="min-height:44px">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="text-ellipsis text-small">淘卖佣金</div>
                            </div>
                            <div class="col-xs-6 text-right">
                                1.31元
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 text-small">
                                <div class="text-ellipsis">02-19</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kk-line kk-horizon"></div>
        </div>
	</div>
</div>