<div ui-content-for="title"></div>
<div ui-content-for="navbarAction">
    <div class="btn-group">
        <span class="btn section-wide">
			<i class="kk kk-weibo kk-20"></i>
		</span>
        <span class="btn section-wide">
			<i class="kk kk-qzone kk-20"></i>
		</span>
        <span class="btn section-wide">
			<i class="kk kk-friend kk-20-37"></i>
		</span>
    </div>
</div>
<div ui-content-for="backAction">
    <a class="btn text-red" ng-click="back()">返回</a>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <div style="min-height:600px;">
            <wrap-owlcarousel class="owl-carousel" style="overflow:hidden" data-options="{autoPlay: 5000, stopOnHover: true,  
        slideSpeed : 300, paginationSpeed : 400, singleItem : true}">
            <div ng-repeat="banner in banners track by $index" class="holder" on-repeat-done>
                <img ng-src="{{staticImageUrl + banner.cover}}"></img>
            </div>
        </wrap-owlcarousel>
        <div class="section text-large">
            {{product.title}}
        </div>
        <div class="section" style="padding-top:0">
            商品价格：{{product.price | currency:"￥"}} <span class="text-red">{{product.market_price | currency:"￥"}}</span>
            <div class="text-red">佣金：{{product.commission | currency:"￥"}}</div>
        </div>
        <div class="kk-line kk-horizon"></div>
        <div class="list-group">
            <div class="list-group-item" ng-click="choose()">
                规格选择：<span class="text-red">{{product.attrs}}</span>
                <i class="text-gray-light fa fa-chevron-right pull-right"></i>
            </div>
            <div class="list-group-item" ng-click="comment()">
                评论：<i class="fa fa-star text-orange" ng-repeat="s in fiveStar(product.comment_star) track by $index"></i>({{product.comment_star}}分)
                <i class="text-gray-light fa fa-chevron-right pull-right"></i>
            </div>
            <div class="list-group-item" ng>
                运费:{{product.shipping_fee}}
                <div class="pull-right"></div>
            </div>
        </div>
        <div class="section multi-image-text" ng-repeat="image in images">
            <img ng-src="{{staticImageUrl + image.cover}}" alt="">
        </div>
        </div>

    </div>
	<!-- <div class="scrollable-footer">
		<div class="section text-center">
			<a class="btn btn-primary bg-white text-red">立即购买</a>
		</div>
	</div> -->
</div>
