<div ui-content-for="title">
    <span class="text-red">我的卡包</span>
</div>
<div ui-content-for="navbarAction"></div>
<div ui-content-for="backAction">
    <a class="btn text-red" ng-click="back()">返回</a>
</div>
<div class="scrollable">
    <div class="scrollable-header">
        <div class="section">
            <div class="btn-group justified nav-tabs">
                <a ng-href="#/{{token}}/wallet" class="btn btn-default">
                    红包
                </a>
                <a ng-href="#/{{token}}/quan" class="btn btn-default active">
                    优惠券
                </a>
            </div>
        </div>
    </div>
    <div class="scrollable-content">
        <div ng-repeat="quan in quans">
            <div class="section">
                <div class="semi-auto semi-left-50 semi-right-50">
                    <div class="semi-fixed-left">
                        <img ng-src="{{ staticImageUrl + quan.company_logo}}" style="width:40px" alt="">
                    </div>
                    <div class="section section-wide section-condensed">
                        {{quan.company_name}} 满{{quan.min_money}}元可用
                        </br><span class="text-red">{{quan.end_time|limitTo:10}}</span>
                    </div>
                    <div class="semi-fixed-right">
                        <i class="kk kk-55-38 text-center text-white text-ellipsis" style="line-height:38px" ng-class="{'kk-quan-all':quan.type==0,'kk-quan':quan.type==1}">￥{{quan.money}}</i>
                    </div>
                </div>
            </div>
            <div class="kk-line kk-horizon"></div>
        </div>
        <div class="section bg-light-grey text-center" ng-if="quans_expired.length>0">
            ---- 已使用 ----
        </div>
        <div ng-repeat="expired in quans_expired">
            <div class="section">
                <div class="semi-auto semi-left-50 semi-right-50">
                    <div class="semi-fixed-left">
                        <img ng-src="{{staticImageUrl + expired.company_logo}}" style="width:40px" alt="">
                    </div>
                    <div class="section section-wide section-condensed">
                        {{expired.company_name}}满{{expired.min_money}}元可用
                        </br><span class="text-red">{{expired.end_time|limitTo:10}}</span>
                    </div>
                    <div class="semi-fixed-right">
                        <i class="kk expired kk-55-38 text-center text-white text-ellipsis" style="line-height:38px" ng-class="{'kk-quan-all':expired.type==0,'kk-quan':expired.type==1}">￥{{expired.money}}</i>
                    </div>
                </div>
            </div>
            <div class="kk-line kk-horizon"></div>
        </div>
    </div>
</div>
