<div ui-content-for="title">
    <span class="text-red">我的卡包</span>
</div>
<div ui-content-for="navbarAction"></div>
<div ui-content-for="backAction">
    <a class="btn text-red" ng-click="back()">返回</a>
</div>
<div class="scrollable">
    <div class="scrollable-header">
        <div class="section">
            <div class="btn-group justified nav-tabs">
                <a ng-href="#/wallet" class="btn btn-default">
                    红包
                </a>
                <a ng-href="#/quan" class="btn btn-default active">
                    优惠券
                </a>
            </div>
        </div>

    </div>
    <div class="scrollable-content">
        <div>
            <div class="section">
                <div class="semi-auto semi-left-50 semi-right-50">
                    <div class="semi-fixed-left">
                        <img src="../images/quan.png" style="width:40px" alt="">
                    </div>
                    <div class="section section-wide">
                        美特斯邦威
                    </div>
                    <div class="semi-fixed-right">
                        <i class="kk kk-quan kk-55-38 text-center text-white text-ellipsis" style="line-height:38px">￥50</i>
                    </div>
                </div>
            </div>
            <div class="kk-line kk-horizon"></div>
        </div>
        <div>
            <div class="section">
                <div class="semi-auto semi-left-50 semi-right-50">
                    <div class="semi-fixed-left">
                        <img src="../images/quan.png" style="width:40px" alt="">
                    </div>
                    <div class="section section-wide text-red">
                        全平台通用
                    </div>
                    <div class="semi-fixed-right">
                        <i class="kk kk-quan-all kk-55-38 text-center text-white text-ellipsis" style="line-height:38px">￥50</i>
                    </div>
                </div>
            </div>
            <div class="kk-line kk-horizon"></div>
        </div>
        <div class="section bg-light-grey text-center">
            ---- 已领取 ----
        </div>
        <div>
            <div class="section">
                <div class="semi-auto semi-left-50 semi-right-50">
                    <div class="semi-fixed-left">
                        <img src="../images/quan.png" style="width:40px" alt="">
                    </div>
                    <div class="section section-wide">
                        美特斯邦威
                    </div>
                    <div class="semi-fixed-right">
                        <i class="kk kk-quan expired kk-55-38 text-center text-white text-ellipsis" style="line-height:38px">￥50</i>
                    </div>
                </div>
            </div>
            <div class="kk-line kk-horizon"></div>
        </div>
        <div>
            <div class="section">
                <div class="semi-auto semi-left-50 semi-right-50">
                    <div class="semi-fixed-left">
                        <img src="../images/quan.png" style="width:40px" alt="">
                    </div>
                    <div class="section section-wide">
                        美特斯邦威
                    </div>
                    <div class="semi-fixed-right">
                        <i class="kk kk-quan expired kk-55-38 text-center text-white text-ellipsis" style="line-height:38px">￥50</i>
                    </div>
                </div>
            </div>
            <div class="kk-line kk-horizon"></div>
        </div>
        <div>
            <div class="section">
                <div class="semi-auto semi-left-50 semi-right-50">
                    <div class="semi-fixed-left">
                        <img src="../images/quan.png" style="width:40px" alt="">
                    </div>
                    <div class="section section-wide text-red">
                        全平台通用
                    </div>
                    <div class="semi-fixed-right">
                        <i class="kk kk-quan-all expired kk-55-38 text-center text-white text-ellipsis" style="line-height:38px">￥50</i>
                    </div>
                </div>
            </div>
            <div class="kk-line kk-horizon"></div>
        </div>
    </div>
</div>
