<!-- by dribehance <dribehance.kksdapp.com> -->
<div ui-content-for="title">候选人</div>
<div ui-content-for="navbarAction"></div>
<div ui-content-for="backAction">
	<span class="btn" ng-click="back()">返回</span>
</div>
<div class="scrollable">
	<div class="scrollable-content">
		<div class="section">
			<div class="row">
				<a ng-href="#/vote/1" class="block col-xs-6">
					<div class="box">
						<img src="../images/example.png" alt="">
						<div class="box-title text-white">
							<div class="row">
								<div class="col-xs-6">普京</div>
								<div class="col-xs-6 text-right">59</div>
							</div>
						</div>
					</div>
				</a>
				<a ng-href="#/vote/1" class="block col-xs-6">
					<div class="box">
						<img src="../images/example.png" alt="">
						<div class="box-title text-white">
							<div class="row">
								<div class="col-xs-6">普京</div>
								<div class="col-xs-6 text-right">59</div>
							</div>
						</div>
					</div>
				</a>
				<a ng-href="#/vote/1" class="block col-xs-6">
					<div class="box">
						<img src="../images/example.png" alt="">
						<div class="box-title text-white">
							<div class="row">
								<div class="col-xs-6">普京</div>
								<div class="col-xs-6 text-right">59</div>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>