<!-- by dribehance <dribehance.kksdapp.com> -->
<div ui-content-for="title">给TA投票</div>
<div ui-content-for="navbarAction"></div>
<div ui-content-for="backAction">
	<span class="btn" ng-click="back()">返回</span>
</div>
<div class="scrollable">
	<div class="scrollable-content">
		<div class="section">
			<img ng-src="{{ staticImageUrl + candidate.detail_cover}}" alt="">
		</div>
	</div>
	<div class="scrollable-footer">
		<div class="section bg-red" ng-if="candidate.vote != 1" >
			<a ng-click="vote()" class="block full-width text-white text-center">给TA投票</a>
		</div>
		<div class="section bg-grey" ng-if="candidate.vote == 1">
			<a class="block full-width text-white text-center">已经投过票啦</a>
		</div>
	</div>
</div>