<!-- by dribehance <dribehance.kksdapp.com> -->
<div ui-content-for="title">候选人</div>
<div ui-content-for="navbarAction"></div>
<div ui-content-for="backAction">
    <span class="btn" ng-click="back()">返回</span>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <div class="section">
            <div class="row">
                <a ng-href="#/{{platform}}/{{token}}/vote/{{candidate.candidate_id}}" class="block col-xs-6" ng-class="{'odd':$odd,'even':$even}" ng-repeat="candidate in candidates">
                    <div class="box">
                        <imageview src="staticImageUrl + candidate.cover" grid="1" rate="1"></imageview>
                        <!-- <img ng-src="{{staticImageUrl + candidate.cover}}" alt=""> -->
                        <div class="box-title text-white">
                            <div class="row">
                                <div class="col-xs-6">{{ candidate.name}}</div>
                                <div class="col-xs-6 text-right">{{candidate.ballot}}</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="section text-center" ng-click="loadMore()">
            {{ page.message}}
        </div>
    </div>
</div>
