<div ui-content-for="title">
    <span class="text-red">我的卡包</span>
</div>
<div ui-content-for="navbarAction"></div>
<div ui-content-for="backAction">
    <a class="btn text-red" ng-click="back()">返回</a>
</div>
<div class="scrollable">
    <div class="scrollable-header">
        <div class="section">
            <div class="btn-group justified nav-tabs">
                <a ng-href="#/wallet" class="btn btn-default active">
                    红包
                </a>
                <a ng-href="#/quan" class="btn btn-default">
                    优惠券
                </a>
            </div>
        </div>

    </div>
    <div class="scrollable-content">
        <div class="section">
            <div class="wallet wallet-outer">
                <div class="wallet-inner">
                    <a ng-href="#/bonus" class="block section bg-orange">
                        <div class="semi-auto semi-left-50">
                            <div class="semi-fixed-left">
                                <img src="../images/bonus_4.png" style="width:40px" alt="">
                            </div>
                            <div class="text-large text-white" style="min-height:44px">
                                <div class="text-ellipsis">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam laudantium, libero animi dolores nostrum, neque aut amet alias consectetur voluptatibus aliquid dicta deleniti cupiditate unde fuga pariatur earum officiis nulla.</div>
                                <div>领取红包</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="section section-sm bg-light-grey">淘卖红包</div>
            </div>
        </div>
        <div class="section">
            <div class="wallet wallet-outer">
                <div class="wallet-inner">
                    <div class="section bg-orange">
                        <div class="semi-auto semi-left-50">
                            <div class="semi-fixed-left">
                                <img src="../images/bonus_4.png" style="width:40px" alt="">
                            </div>
                            <div class="text-large text-white" style="min-height:44px">
                                <div class="text-ellipsis">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam laudantium, libero animi dolores nostrum, neque aut amet alias consectetur voluptatibus aliquid dicta deleniti cupiditate unde fuga pariatur earum officiis nulla.</div>
                                <div>领取红包</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section section-sm bg-light-grey">淘卖红包</div>
            </div>
        </div>
        <div class="section bg-light-grey text-center">
            ---- 已领取 ----
        </div>
        <div>
            <div class="section">
                <div class="semi-auto semi-left-50">
                    <div class="semi-fixed-left">
                        <img src="../images/bonus_2.png" style="width:40px" alt="">
                    </div>
                    <div style="min-height:44px">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="text-ellipsis text-small">淘卖红包</div>
                            </div>
                            <div class="col-xs-6 text-right">
                                1.31元
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 text-small">
                                <div class="text-ellipsis">02-19</div>
                            </div>
                            <div class="col-xs-6 text-right">
                                已领取
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kk-line kk-horizon"></div>
        </div>
        <div>
            <div class="section">
                <div class="semi-auto semi-left-50">
                    <div class="semi-fixed-left">
                        <img src="../images/bonus_2.png" style="width:40px" alt="">
                    </div>
                    <div style="min-height:44px">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="text-ellipsis text-small">淘卖红包</div>
                            </div>
                            <div class="col-xs-6 text-right">
                                1.31元
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 text-small">
                                <div class="text-ellipsis">02-19</div>
                            </div>
                            <div class="col-xs-6 text-right">
                                已领取
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kk-line kk-horizon"></div>
        </div>
        <div>
            <div class="section">
                <div class="semi-auto semi-left-50">
                    <div class="semi-fixed-left">
                        <img src="../images/bonus_2.png" style="width:40px" alt="">
                    </div>
                    <div style="min-height:44px">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="text-ellipsis text-small">淘卖红包</div>
                            </div>
                            <div class="col-xs-6 text-right">
                                1.31元
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 text-small">
                                <div class="text-ellipsis">02-19</div>
                            </div>
                            <div class="col-xs-6 text-right">
                                已领取
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kk-line kk-horizon"></div>
        </div>
        <div>
            <div class="section">
                <div class="semi-auto semi-left-50">
                    <div class="semi-fixed-left">
                        <img src="../images/bonus_2.png" style="width:40px" alt="">
                    </div>
                    <div style="min-height:44px">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="text-ellipsis text-small">淘卖红包</div>
                            </div>
                            <div class="col-xs-6 text-right">
                                1.31元
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 text-small">
                                <div class="text-ellipsis">02-19</div>
                            </div>
                            <div class="col-xs-6 text-right">
                                已领取
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kk-line kk-horizon"></div>
        </div>
        <div>
            <div class="section">
                <div class="semi-auto semi-left-50">
                    <div class="semi-fixed-left">
                        <img src="../images/bonus_2.png" style="width:40px" alt="">
                    </div>
                    <div style="min-height:44px">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="text-ellipsis text-small">淘卖红包</div>
                            </div>
                            <div class="col-xs-6 text-right">
                                1.31元
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 text-small">
                                <div class="text-ellipsis">02-19</div>
                            </div>
                            <div class="col-xs-6 text-right">
                                已领取
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kk-line kk-horizon"></div>
        </div>
        <div>
            <div class="section">
                <div class="semi-auto semi-left-50">
                    <div class="semi-fixed-left">
                        <img src="../images/bonus_2.png" style="width:40px" alt="">
                    </div>
                    <div style="min-height:44px">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="text-ellipsis text-small">淘卖红包</div>
                            </div>
                            <div class="col-xs-6 text-right">
                                1.31元
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 text-small">
                                <div class="text-ellipsis">02-19</div>
                            </div>
                            <div class="col-xs-6 text-right">
                                已领取
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kk-line kk-horizon"></div>
        </div>
    </div>
</div>
